
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
         <%= render 'layouts/navbarside' %>
          </div>
<!-- Sidebar Nav -->
<div class="row top-buffer">
	<div class="container">
		<div class="col-md-10 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Commission Due</h3>
				</div>
			<div class="panel-body">

		<table class="table table-hover">
	<thead>
		<tr>
			<th>Client</th>
			<th>Amount Due</th>
			<th>Billing Company</th>
			<th>Due Date</th>
			<th>Status</th>
			<th>Invoice #</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bitcasa</td>
			<td>$10,000</td>
			<td>Equity Office</td>
			<td>2/1/14</td>
			<td>Invoice Sent</td>
			<td>#12345</td>
			<td></td>
			
		</tr>
		<tr>
			<td>Harvest Properties</td>
			<td>$24,500</td>
			<td>Harvest Properties</td>
			<td>2/15/14</td>
			<td>Check Issued</td>
			<td>#12345</td>
			<td></td>
			
		</tr>
	</tbody>
</table>
<%= link_to "Create Invoice", create_invoice_path, class: "btn btn-success btn-lg" %>
