
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div>
<!-- Dashboard Header -->
<div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
          <h2 class="page-header"><p><i class="fa fa-tachometer fa-2x"></i> Dashboard</p></h2>
        </div>
      </div>

<!-- Panel -->
<div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">YTD Performance</h3>
              </div><!--panel heading-->       
                  <div class="panel-body">
                  <!--content-->
                  <div class="row">
                    <div class="col-xs-6 col-md-8">
                      <h4> Total Commission <small>$210,000</small> </h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                  Rank #20
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                  <div id="mysixchart" style="height: 250px;">
                      <script>
                      new Morris.Line({
                        // ID of the element in which to draw the chart.
                        element: 'mysixchart',
                        // Chart data records -- each entry in this array corresponds to a point on
                        // the chart.
                        data: [
                          { year: '2013 Q4', a: 180000, b: 100000, c: 300000 },
                          { year: '2014 Q1', a: 45000, b: 10000, c: 50000 },
                          { year: '2014 Q2', a: 75000, b: 45000, c: 70000 },
                          { year: '2014 Q3', a: 145000, b: 80000, c: 200000 },
                          { year: '2014 Q4', a: 210000, b: 110000, c: 300000 }
                        ],
                        // The name of the data record attribute that contains x-values.
                        xkey: 'year',
                        // A list of names of data record attributes that contain y-values.
                        ykeys: ['a','b','c'],
                        // Labels for the ykeys -- will be displayed when you hover over the
                        // chart.
                        labels: ['My Total $','Office Avg $', 'Top 10 Avg $']
                      });
                      </script>
                      </div><!--chart-->
                    </div><!--column-->

                    <div class="col-xs-6 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"> TOP 10 (Year to Date) </h3>
                          </div>
                          <div class="panel-body">          
                            <table class="table">
                         <ol>
                          <li><strong> Phil Mahoney </strong></li>
                          <li><strong> Mike Saign </strong></li>
                          <li><strong> Jeff Rodgers </strong></li>
                          <li><strong> Shawn Kellenberger </strong></li>
                          <li><strong> Sean Whitney</strong> </li>
                          <li><strong> Todd Shaffer </strong></li>
                          <li><strong> John Yandle </strong></li>
                          <li><strong> Kyle Nelson </strong></li>
                          <li><strong> Jeff Arrillaga </strong></li>
                          <li><strong> Frank Cox </strong></li>
                        </ol>
                        </table>
                      </div> <!--panel-body-->
                      </div> <!--panel-default-->
                    </div><!--column-->
                  </div><!--row-->
<div class="row">
<div class="col-xs-12 col-md-6">

                  <h4> Total Deals <small>18</small> </h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  Rank #18
                  </div><!--progress bar-->
                  </div><!--progress bar-->
            <div id="myfourthchart" style="height: 200px;">
            <script>
            new Morris.Donut({
              // ID of the element in which to draw the chart.
              element: 'myfourthchart',
              // Chart data records -- each entry in this array corresponds to a point on
              // the chart.
              data: [
                {label: "Office Avg Deals", value: 15},
                {label: "YTD Deals", value: 18},
                {label: "Top 10 Avg Deals", value: 30}
              ]
            });
            </script>
            </div><!--CHART-->
          </div><!--column-->
                      <div class="col-xs-12 col-md-6"> 
                        <h4> Total SF <small>200,300SF</small></h4>
                  <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  Rank #15
                    </div><!--progress bar-->
                  </div><!--progress bar-->
                    <div id="myfifthchart" style="height: 250px;">
                      <script>
                      new Morris.Area({
                        // ID of the element in which to draw the chart.
                        element: 'myfifthchart',
                        // Chart data records -- each entry in this array corresponds to a point on
                        // the chart.
                        data: [
                          { year: '2013 Q4', a: 180000, },
                          { year: '2014 Q1', a: 45000,},
                          { year: '2014 Q2', a: 75000,},
                          { year: '2014 Q3', a: 145000,},
                          { year: '2014 Q4', a: 200300,}
                        ],
                        // The name of the data record attribute that contains x-values.
                        xkey: 'year',
                        // A list of names of data record attributes that contain y-values.
                        ykeys: ['a',],
                        // Labels for the ykeys -- will be displayed when you hover over the
                        // chart.
                        labels: ['Total SF Leased']
                      });
                      </script>
                      </div><!--chart-->
                    </div> <!--column-->
                  </div><!--row-->
                </div><!--panelbody-->
              </div><!--paneldefault-->
            </div><!--row-->




