

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'shutterstock_city.jpg'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>dataCRE</h1>
              <p>.</p>
              <p><H1>INTELLIGENT DATA MANAGEMENT</H1> </p>
              <% if user_signed_in? %>
                  <%= link_to "Get Started", dashboard_path, class: "btn btn-primary btn-lg" %>
                  <p>.</p>
                 
              <% else %>
                <p>
                 <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
                 <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
               </p>
               <p>.</p>
              

          <% end %>  
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->