<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="row placeholders">
          
          <img src="http://www.ccareynkf.com/FileStore/IMG/Agt_59B4875E12004ED397A4A176FE35AD46.jpg" width="130" height="130" class="img-circle"/>
            <h4>Jason Forcier</h4>
              <span class="text-muted">Cornish & Carey</span>
            </div>
          <%= render 'layouts/navbarside' %>
          </div>

<div class="row">
        <div class="col-md-10 col-md-offset-2">
          <h2 class="page-header"><p><i class="fa fa-flag fa-2x fa-fw"></i>New Listings</p></h2>
        </div>
      </div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-u btn-u-green btn-u-small">View Listing</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-6">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Available (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Asking Rate</small></h5></td>
              <td><h6>$6.50 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Style</small></h5></td>
              <td><h6>Office</h6></td>
            </tr>
            <tr>
              <td><h5><small>Class</small></h5></td>
              <td><h6>A</h6></td>
            </tr>
            <tr>
              <td><h5><small>Notes</small></h5></td>
              <td><h6>Creative Tech Space</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Agent Details</h3>
                  </div>
                    <div class="panel-body">
                      <address>
          <strong>Jason Forcier</strong><br>
          <a href="mailto:#">jforcier@ccareynkf.com</a>
        </address>
                      <address>
          <strong>Cornish & Carey Commercial</strong><br>
          2804 Mission College Blvd<br>
          Santa Clara, CA 94107<br>
          <abbr title="Phone">P:</abbr> (408) 987-4193
        </address>
        <button type="button" class="btn btn-success btn-xs">Schedule Tour</button>
        <button type="button" class="btn btn-info btn-xs">Contact Jason</button>
                  
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div><!--row-->
</div><!--container-->
</div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-u btn-u-green btn-u-small">View Listing</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-6">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Available (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Asking Rate</small></h5></td>
              <td><h6>$6.50 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Style</small></h5></td>
              <td><h6>Office</h6></td>
            </tr>
            <tr>
              <td><h5><small>Class</small></h5></td>
              <td><h6>A</h6></td>
            </tr>
            <tr>
              <td><h5><small>Notes</small></h5></td>
              <td><h6>Creative Tech Space</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Agent Details</h3>
                  </div>
                    <div class="panel-body">
                      <address>
          <strong>Jason Forcier</strong><br>
          <a href="mailto:#">jforcier@ccareynkf.com</a>
        </address>
                      <address>
          <strong>Cornish & Carey Commercial</strong><br>
          2804 Mission College Blvd<br>
          Santa Clara, CA 94107<br>
          <abbr title="Phone">P:</abbr> (408) 987-4193
        </address>
        <button type="button" class="btn btn-success btn-xs">Schedule Tour</button>
        <button type="button" class="btn btn-info btn-xs">Contact Jason</button>
                  
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div>
</div>
</div>

<div class="row top-buffer">
  <div class="col-md-offset-2 col-md-10">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h3>1234 Main Street #100 <small>Mountain View</small> <button type="button" class="btn btn-u btn-u-green btn-u-small">View Listing</button></h3>
  </div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-5">
      <img src="http://s.lnimg.com/photo/poster/3b53ccdaf93543f6aff154a04a9dfc0d.jpg" width="400" height="200"/>
    </div><!--column-->
    <div class="row">
      <div class="col-md-6">
      <div class="row">
       <div class="col-md-6">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><h5><small>Available (sf)</small></h5></td>
              <td><h6>10,000sf</h6></td>
            </tr>
            <tr>
              <td><h5><small>Asking Rate</small></h5></td>
              <td><h6>$6.50 FS</h6></td>
            </tr>
            <tr>
              <td><h5><small>Style</small></h5></td>
              <td><h6>Office</h6></td>
            </tr>
            <tr>
              <td><h5><small>Class</small></h5></td>
              <td><h6>A</h6></td>
            </tr>
            <tr>
              <td><h5><small>Notes</small></h5></td>
              <td><h6>Creative Tech Space</h6></td>
          </tbody>

        </table>
      </div><!--column-->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Agent Details</h3>
                  </div>
                    <div class="panel-body">
                      <address>
          <strong>Jason Forcier</strong><br>
          <a href="mailto:#">jforcier@ccareynkf.com</a>
        </address>
                      <address>
          <strong>Cornish & Carey Commercial</strong><br>
          2804 Mission College Blvd<br>
          Santa Clara, CA 94107<br>
          <abbr title="Phone">P:</abbr> (408) 987-4193
        </address>
        <button type="button" class="btn btn-success btn-xs">Schedule Tour</button>
        <button type="button" class="btn btn-info btn-xs">Contact Jason</button>
                  
              </div> <!--Panelbody-->
          </div> <!--Paneldefault-->

      </div><!--column-->
    </div><!--row-->
  </div><!--column-->
 </div><!--row-->
</div><!--panel-->
</div><!--column-->
</div>
</div>
</div>

