<%= render 'layouts/nav' %>
<%= render 'layouts/closed' %>

<div class="row top-buffer">
	<div class="container">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Recently Closed (Past 3 months) Modify Button</h3>
				</div>
			<div class="panel-body">

		<table class="table table-hover">
			<p><h3><strong>Listings</strong></h3></p>
	<thead>
		<tr>
			<th>Client</th>
			<th>Tenant</th>
			<th>Building Name/Address</th>
			<th>Size (SF)</th>
			<th>Closing Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Menlo Equities</td>
			<td>Riverbed</td>
			<td>550 Almanor, Sunnyvale</td>
			<td>100,000sf</td>
			<td>12/15/13</td>
			<td>Details Button</td>
			
		</tr>
		<tr>
			<td>Bixby Land</td>
			<td>Nextbio, Inc.</td>
			<td>451 El Camino #100, Santa Clara</td>
			<td>18,000sf</td>
			<td>12/1/13</td>
			<td>Details Button</td>
			
		</tr>
	</tbody>
</table>


		<p><h3><strong>Tenant/Buyer Rep</strong></h3></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Client</th>
			<th>Landlord</th>
			<th>Building Name/Address</th>
			<th>Size (SF)</th>
			<th>Closing Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>Gameclosure, Inc</td>
			<td>Wong, LLC</td>
			<td>300 Main Steet, Redwood City</td>
			<td>2,000SF</td>
			<td>1/15/14</td>
			<td>Details Button </td>
		</tr>
		<tr>
			<td>Pure Storage, Inc.</td>
			<td>Jeff Rogers</td>
			<td>#400</td>
			<td>9,000sf</td>
			<td>Lease negotiations</td>
			<td>Lease drafted. Sent for review</td>
		</tr>
	</tbody>
</table>



