<%= render 'layouts/nav' %>
<%= render 'layouts/closed' %>

<div class="row top-buffer">
	<div class="container">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Upcoming Expirations (12 months)
						<button type="button" class="btn btn-warning btn-xs">Modify
						</h3>
				</div>
			<div class="panel-body">

		<table class="table table-hover">
			<p><h3><strong>Listings</strong></h3></p>
	<thead>
		<tr>
			<th>Client</th>
			<th>Tenant</th>
			<th>Building Name/Address</th>
			<th>Size (SF)</th>
			<th>Expiration Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jay Paul</td>
			<td>Google</td>
			<td>300 Moffett Place, Sunnyvale</td>
			<td>50,000sf</td>
			<td>6/31/14</td>
			<td><button type="button" class="btn btn-info">Details</button></td>
			
		</tr>
		<tr>
			<td>Equity Office</td>
			<td>Wilson Sonsini</td>
			<td>100 Page Mill Ave, Palo Alto</td>
			<td>30,000sf</td>
			<td>11/31/14</td>
			<td><button type="button" class="btn btn-info">Details</button></td>
			
		</tr>
	</tbody>
</table>


		<p><h3><strong>Tenant Rep</strong></h3></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Client</th>
			<th>Landlord</th>
			<th>Building Name/Address</th>
			<th>Size (SF)</th>
			<th>Closing Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>WiFiSlam, Inc</td>
			<td>Shorenstein, LLC</td>
			<td>1 Embarcadero Plaza, San Francisco</td>
			<td>10,000SF</td>
			<td>11/15/14</td>
			<td><button type="button" class="btn btn-info">Details</button> </td>
		</tr>
		<tr>
			<td>Pure Storage, Inc.</td>
			<td>RREEF</td>
			<td>650 Castro Street, Mountain View</td>
			<td>45,000sf</td>
			<td>1/31/15</td>
			<td><button type="button" class="btn btn-info">Details</button></td>
		</tr>
		<tr>
			<td>Amprius, Inc</td>
			<td>ProLogis</td>
			<td>225 Humboldt Court, Sunnyvale</td>
			<td>22,500sf</td>
			<td>2/29/15</td>
			<td><button type="button" class="btn btn-info">Details</button></td>
		</tr>
	
	</tbody>
</table>
