/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
h1 {
  font-size: 90px;
  color: #ecf0f1;
  font-family: 'Oswald', sans-serif;;
}

/* Carousel base class */
.carousel {
  position: absolute;
   margin-bottom: 20px;
   line-height:1;
   top:0;
   left:0;
   min-width:100%;
   min-height: 500px;
   max-height: 600px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  font-size: 35px;
  font-style: 'Roboto Condensed', sans-serif;
  font-color: #ecf0f1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}

